.blog__wrapper {
  max-width: 1170px;
  margin: auto;
  text-align: center;

  & h2 {
    @include fonts(700, 34px, $basic-black);
    font-family: "Cormorant Garamond", "Georgia", serif;
    margin-top: 104px;
    margin-bottom: 18px;
  }
}

.blog__list {
  list-style-type: none;
  margin: 63px 0 0;
  padding: 0;
  display: grid;
  grid-gap: 22px 30px;
  grid-template-areas:
    "article-1 article-3"
    "article-2 article-3";
  grid-template-columns: 1fr 1fr;
}

.blog__item {
  & div {
    & a:hover {
      color: $link-decoration;
    }

    & a:active {
      opacity: 0.6;
    }
  }

  &:nth-child(1) {
    grid-area: article-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 570px;
    height: auto;

    & div {
      background: $background-color;
      height: auto;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:nth-child(2) {
    grid-area: article-2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 570px;
    height: auto;

    & div {
      order: -1;
      background: $background-color;
      height: auto;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:nth-child(3) {
    position: relative;
    width: 570px;
    height: auto;
    grid-area: article-3;

    & div {
      width: 285px;
      max-height: 100%;
      min-height: 300px;
      background: $background-color;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & span {
    display: block;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.4;
    margin-top: 66px;
  }

  & p {
    @include fonts(600, 26px, $basic-black);
    font-family: "Cormorant Garamond", "Georgia", serif;
    line-height: 34px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 11px;
  }

  & a {
    position: relative;
    margin-top: 35px;
    padding-bottom: 30px;
    display: block;

    &::before {
      content: "";
      position: absolute;
      width: 96px;
      height: 1px;
      top: 24px;
      background: $link-decoration;
    }
  }
}

.blog__link {
  font-weight: 500;
  font-size: 16px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 64px;
    height: 1px;
    background: $link-decoration;
    bottom: -4px;
    left: 1px;
  }

  &:hover {
    color: $link-decoration;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $half-desktop-width) {
  .blog__wrapper {
    padding-left: 36px;
    padding-right: 36px;

    & h2 {
      margin-top: 54px;
    }
  }

  .blog__list {
    max-width: 100%;
    margin: 64px auto auto;
    grid-template-areas:
      "article-1"
      "article-2"
      "article-3";
    grid-template-columns: 1fr;
  }

  .blog__item {
    margin-bottom: 20px;
    min-width: 100%;
    height: auto;

    & img {
      width: 100%;
      height: 300px;
      max-height: 300px;
    }

    & div {
      width: 100%;
      height: 98%;

      & p {
        padding-left: 70px;
        padding-right: 70px;
      }
    }

    &:nth-child(1) {
      & img {
        width: 100%;
        object-fit: cover;
      }

      & div {
        width: 100%;
        height: 98%;
      }
    }

    &:nth-child(2) {
      & div {
        height: 98%;
      }
    }

    &:nth-child(3) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 300px;

      & div {
        position: relative;
        min-width: 100%;
        height: 98%;
      }

      & img {

        object-fit: cover;
      }

      & span {
        margin-top: 82px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .blog__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .blog__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog__item {
    margin-bottom: 4px;

    &:nth-child(1) {
      width: 440px;
      height: auto;
    }

    &:nth-child(2) {
      width: 440px;
      height: auto;
    }

    &:nth-child(3) {
      width: 440px;
      height: auto;
    }

    & div {
      & p {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
}


@media (max-width: $half-mobile-width) {
  .blog__wrapper {
    margin-left: 10px;
    margin-right: 10px;

    & h2 {
      margin-top: 44px;
    }
  }

  .blog__list {
    justify-content: space-between;
    margin-top: 54px;
  }

  .blog__item {
    margin-bottom: 9px;

    & img {
      height: 256px;
    }

    &:nth-child(1) {
      width: 290px;
      grid-template-columns: 1fr;
      height: 513px;

      & div {
        height: 256px;
        margin-top: -7px;
      }

      & img {
        height: 256px;
      }
    }

    &:nth-child(2) {
      width: 290px;
      grid-template-columns: 1fr;
      height: 513px;

      & div {
        order: 1;
        height: 256px;
        margin-top: -7px;
        width: 100%;
      }

      & img {
        height: 256px;
      }
    }

    &:nth-child(3) {
      width: 290px;
      grid-template-columns: 1fr;
      height: 513px;

      .blog__article {
        min-width: 100%;
        height: 256px;
        margin-top: -7px;

        & span {
          margin-top: 60px;
        }
      }

      & img {
        height: 256px;
      }
    }

    .blog__article {
      width: 290px;
      height: 256px;

      & span {
        margin-top: 42px;
      }

      & p {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
}
