.catalog-promo {
  background: url("../img/catalog-promo.png");
  background-color: $link-decoration;
  background-size: cover;
  margin-top: -10px;
}

.catalog-promo__wrapper {
  min-height: 261px;
  text-align: center;

  & h1 {
    @include fonts(700, 34px, $basic-white);
    font-family: "Cormorant Garamond", "Arial", sans-serif;
    text-transform: uppercase;
    padding-top: 94px;
    margin-bottom: 0;
  }

  & p {
    @include fonts(400, 22px, $basic-white);
    font-family: "Cormorant Garamond", "Arial", sans-serif;
    font-style: italic;
    margin-top: 4px;
  }
}

@media (min-resolution: 2dppx) {
  .catalog-promo {
    background: url("../img/catalog-promo@2x.png");
    background-size: cover;
  }
}

@media (max-width: $half-desktop-width) {
  .catalog-promo {
    background: url("../img/catalog-promo-tablet.png");
    background-position: 50% 50%;
    background-size: cover;
  }

  @media (min-resolution: 2dppx) {
    .catalog-promo {
      background: url("../img/catalog-promo-tablet@2x.png");
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}

@media (max-width: $mobile-width) {
  .catalog-promo__wrapper {
    margin-top: -20px;

    & h1 {
      padding-top: 80px;
    }

    & p {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
