.faq__wrapper {
  max-width: 968px;
  margin: auto;
  text-align: center;

  & h2 {
    @include fonts(700, 34px, $basic-black);
    font-family: "Cormorant Garamond", "Georgia", serif;
    letter-spacing: 0.03em;
    margin-top: 122px;
  }
}

.faq__list {
  list-style-type: none;
  margin: 50px 0 0;
  padding: 0;
}

.faq__item {
  border: 1px solid $basic-black;
  border-bottom: 0;
  padding-left: 42px;
  padding-top: 42px;
  padding-bottom: 24px;
  height: 44px;
  text-align: left;
  position: relative;
  transition: height 0.5s;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    outline: 2px solid $basic-black;
    outline-offset: -2px;

    &::before {
      border-right: 2px solid $basic-black;
      border-bottom: 2px solid $basic-black;
      opacity: 1;
    }
  }

  & h2 {
    @include fonts(500, 17px, $basic-black);
    font-family: "Poppins", "Arial", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
  }

  & p {
    font-size: 16px;
    line-height: 21px;
    margin-top: 7px;
    margin-left: 6px;
    max-width: 520px;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:last-child {
    border-bottom: 1px solid $basic-black;

    & h2 br {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: transparent;
    border-right: 1px solid $basic-black;
    border-bottom: 1px solid $basic-black;
    transform: rotate(45deg);
    right: 50px;
    top: 48px;
    opacity: 0.5;
    transition: transform 0.3s;
  }
}

.faq__item--active {
  height: auto;
  padding-top: 40px;

  &::before {
    transform: rotate(225deg);
    top: 52px;
  }

  & p {
    opacity: 1;
    transition: opacity 0.4s 0.2s;
  }
}

@media (max-width: $half-desktop-width) {
  .faq__wrapper {
    padding-left: 46px;
    padding-right: 46px;

    & h2 {
      margin-top: 50px;
    }
  }

  .faq__item {
    padding-top: 40px;
    padding-bottom: 26px;

    & h2 {
      margin-top: 2px;
      margin-left: 6px;
    }

    & p {
      max-width: 530px;
      margin-top: 24px;
      margin-right: 0;
    }

    &::before {
      width: 16px;
      height: 16px;
      top: 42px;
    }
  }

  .faq__item--active {
    padding-bottom: 26px;

    &::before {
      top: 52px;
    }
  }
}

@media (max-width: $mobile-width) {
  .faq__item {
    padding-right: 40px;
    height: 60px;

    & h2 {
      padding-right: 80px;
    }
  }

  .faq__item--active {
    height: 170px;
  }
}

@media (max-width: $half-mobile-width) {
  .faq__wrapper {
    padding-right: 16px;
    padding-left: 16px;

    & h2 {
      line-height: 44px;
      padding-right: 0;
    }
  }

  .faq__list {
    margin-top: 0;
  }

  .faq__item {
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 4px;
    padding-right: 0;
    height: 61px;

    & h2 {
      line-height: 22px;
      margin-right: 82px;
      font-size: 16px;
      letter-spacing: -0.01em;
    }

    & p {
      font-size: 14px;
      margin-top: 16px;
      line-height: 20px;
      margin-right: 56px;
    }

    &::before {
      width: 13px;
      height: 13px;
      top: 18px;
      right: 26px;
    }

    &:nth-child(1) p br {
      display: none;
    }

    &:nth-child(2) h2 {
      margin-right: 120px;
    }

    &:nth-child(3) h2 {
      margin-right: 90px;
    }

    &:nth-child(4) h2 {
      margin-right: 40px;

      & br {
        display: block;
      }
    }
  }

  .faq__item--active {
    height: 176px;
    padding-top: 12px;

    &::before {
      top: 26px;
    }
  }
}
