.header {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 114px;
    background: $header-decoration;
  }
}

.header__wrapper {
  max-width: 1202px;
  margin: 30px auto auto auto;
  background: transparent;
  background-position: -1200px -1200px;
  background-size: 400px 400px;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
}

.header__top-side-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: 16px;
  margin-right: 16px;

  & label {
    position: absolute;
    left: 0;
    top: 12px;

    & svg {
      fill: $basic-black;
    }
  }

  & input {
    @include fonts(500, 14px, $basic-black);
    font-family: inherit;
    border: none;
    height: 20px;
    padding-left: 29px;
    padding-bottom: 4px;
    margin-top: 11px;
    border-bottom: 1px solid transparent;

    &:focus {
      outline: none;
      border-bottom: 1px solid $basic-black;
    }
  }

  & input::placeholder {
    @include fonts(500, 14px, $basic-black);
    font-family: "Poppins", "Arial", sans-serif;
    opacity: 0.5;
  }
}

.header__mobile-hamburger {
  display: none;
  width: 42px;
  height: 38px;
  background: transparent;
  border: 0;

  & svg {
    stroke: $basic-white;
  }

  &:hover svg {
    stroke: $basic-black;
  }

  &:active svg {
    opacity: 0.6;
  }
}

.header__login-mobile {
  display: none;
  margin-left: 48px;
  margin-top: 22px;

  & a {
    color: $basic-white;
    font-size: 18px;

    &:hover {
      color: $basic-black;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.header__mobile-cart {
  display: none;

  & a {
    display: block;
    width: 24px;
    height: 24px;

    & svg {
      padding: 4px;
      stroke: $basic-white;
    }

    &:hover svg {
      stroke: $basic-black;
    }

    &:active svg {
      opacity: 0.6;
    }
  }
}

.header__logo-link {
  margin-right: 56px;

  & svg {
    fill: $link-decoration;
  }

  &:hover svg {
    fill: $basic-black;
  }

  &:active svg {
    opacity: 0.6;
  }
}

.header__animation-fix {
  display: none;
  height: 100px;
}

.header__nav-mobile {
  display: none;
}

.header__nav-mobile-list {
  list-style-type: none;
  margin: 18px 48px 0;
  padding: 0;
}

.header__nav-mobile-item {
  margin-bottom: 16px;

  & a {
    font-size: 18px;
    color: $basic-white;

    &:hover {
      color: $basic-black;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.header__nav-list {
  list-style-type: none;
  margin: 30px 0 0 44px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header__login-wrapper {
  margin-top: 8px;

  & a {
    font-weight: 500;
    font-size: 14px;
    margin-left: 32px;

    &:hover {
      color: $link-decoration;
    }

    &:active {
      opacity: 0.6;
    }
  }

  & span {
    padding-left: 2px;
  }
}

.header__nav-item {
  font-weight: 500;
  font-size: 16px;
  margin-right: 35px;

  & a {
    &:hover {
      color: $link-decoration;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

@media (max-width: $tablet-width) {
  .header {
    margin-bottom: 6px;

    &::before {
      background: none;
    }
  }

  .header__logo-link {
    margin-top: -16px;
    margin-left: 46px;
  }

  .header__top-side-container {
    padding-left: 36px;
    padding-right: 38px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 15px;

    & input {
      display: none;
    }

    & label {
      display: none;
    }
  }

  .header__mobile-hamburger {
    display: block;

    & svg {
      stroke: $basic-black;
    }

    &:hover {
      stroke: $link-decoration;
    }
  }

  .header__login-wrapper {
    display: none;
  }

  .header__mobile-cart {
    display: block;
    margin-right: 6px;
    margin-top: 5px;

    & a svg {
      stroke: $basic-black;
    }

    & a:hover svg {
      stroke: $link-decoration;
    }

    & a:active svg {
      opacity: 0.6;
    }
  }

  .header__nav-list {
    display: none;
  }

  .header__wrapper--active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-top: 30px;
    background: radial-gradient($link-decoration, $link-decoration 60%, transparent 70%, transparent);
    background-size: 2000px 2000px;
    background-repeat: no-repeat;
    background-position: -420px -390px;
    z-index: 100;

    .header__top-side-container {
      padding-right: 38px;

      & input {
        position: absolute;
        width: 82.5%;
        top: 94px;
        margin-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        display: block;
        border-radius: 21px;
        background: $background-opacity;
        color: $basic-white;

        &:focus {
          border-bottom: 1px solid transparent;
        }

        &::placeholder {
          color: transparent;
        }
      }

      & label {
        display: block;
        position: absolute;
        top: 116px;
        margin-left: 59px;

        & svg {
          fill: $basic-white;
        }
      }
    }

    .header__nav-mobile {
      display: block;
    }

    .header__mobile-hamburger {
      display: block;

      & svg {
        stroke: $basic-white;
      }

      &:hover svg {
        stroke: $basic-black;
      }

      &:active svg {
        opacity: 0.6;
      }
    }

    .header__logo-link {
      & svg {
        fill: $basic-white;
      }
    }

    .header__mobile-cart {
      & a svg {
        stroke: $basic-white;
      }

      & a:hover svg {
        stroke: $basic-black;
      }

      & a:active svg {
        opacity: 0.6;
      }
    }

    .header__nav {
      margin-top: 100px;
    }

    .header__nav-list {
      display: block;
      flex-direction: column;
      max-height: 290px;
      margin-left: 46px;
      animation: slide-up-navigation 0.3s 1 cubic-bezier(0.17, 0.84, 0.44, 1);
    }

    .header__nav-item {
      margin-bottom: 22px;

      & a {
        @include fonts(500, 24px, $basic-white);

        &:hover {
          color: $basic-black;
        }

        &:active {
          opacity: 0.6;
        }
      }
    }

    .header__login-mobile {
      display: block;
    }
  }
}

@media (max-width: $mobile-width) {
  .header__wrapper {
    margin-top: 28px;
  }

  .header__nav-mobile-list {
    margin-left: 15px;
    margin-top: 28px;
  }

  .header__wrapper--active {
    margin-top: 0;

    .header__top-side-container {
      padding-right: 6px;
      margin-top: -2px;

      & input {
        top: 63px;
        width: 71%;
        padding-right: 20px;
      }

      & label {
        top: 84px;
        left: -32px;
      }
    }

    .header__nav-list {
      margin-left: 15px;
    }

    .header__login-mobile {
      margin-left: 15px;
      margin-top: 30px;
    }
  }

  .header__top-side-container {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0;
  }

  .header__logo-link {
    margin-left: 46px;

    & svg {
      width: 52px;
      height: 52px;
      margin-top: 8px;
    }
  }

  .header__mobile-cart {
    margin-right: 8px;
  }
}

@keyframes slide-up-navigation {
  0% {
    opacity: 0;
    margin-top: -200px;
  }

  100% {
    opacity: 1;
    margin-top: 30px;
  }
}
