.shop__wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    @include fonts(700, 34px, $basic-black);
    font-family: "Cormorant Garamond", "Arial", sans-serif;
    line-height: 34px;
    margin-bottom: 18px;
  }
}

.shop__link {
  display: block;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 42px;
  max-width: 100px;
  position: relative;
  z-index: 80;

  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background: $link-decoration;
    bottom: 2px;
  }
}

.shop__products-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  width: 1168px;
}

.shop__item-product {
  text-align: center;
  margin-right: 10px;

  & p {
    font-weight: 500;
    font-size: 16px;
    margin-top: 11px;
    margin-bottom: 0;
  }

  & span {
    font-weight: 700;
    font-size: 14px;
  }

  &:last-child {
    margin-right: 0;

  }
}

/* Swiper CSS */

.swiper-container {
  margin-top: -89px;
  padding-top: 88px;
  width: 1170px;
  height: 452px;
}

.swiper-slide-mobile {
  display: none;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  color: $basic-black;
  opacity: 0.3;
  background: none;
  font-weight: 500;
}

.swiper-pagination-bullet-active {
  color: $basic-black;
  background: none;
  opacity: 1;
  font-weight: 500;
}

@media (max-width: $half-desktop-width) {
  .swiper-container {
    width: 676px;
    height: 496px;
    padding-top: 86px;
  }

  .swiper-slide-mobile {
    display: flex;
  }

  .swiper-pagination-bullet {
    padding-left: 1px;
    padding-right: 1px;
  }

  .shop__item-product:nth-child(n+3) {
    display: none;
  }

  .shop__products-list {
    width: 686px;

  }

  .shop__item-product {

    & img {
      width: 324px;
      height: 340px;
    }
  }

  .swiper-button-next {
    right: -2px;
    top: 5px;
    width: 42px;
    height: 36px;

    &::after {
      background-size: contain;
      background-position: 100% 100%;
      width: 100%;
      height: 100%;
    }
  }

  .swiper-button-prev {
    left: -2px;
    top: 5px;
    width: 42px;
    height: 36px;

    &::after {
      background-size: contain;
      background-position: 100% 100%;
      width: 100%;
      height: 100%;
    }
  }

}

@media (max-width: $tablet-width) {
  .shop__wrapper {

    & h2 {
      margin-bottom: 12px;
    }
  }

  .shop__link {

    &::before {
      bottom: -4px;
    }
  }
}

@media (max-width: $mobile-width) {
  .shop__products-list {
    width: 300px;

  }

  .shop__item-product {

    & img {
      width: 130px;
      height: 136px;
    }
  }

  .swiper-container {
    width: 300px;
    height: 452px;
    outline: 1px solid red;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }
}
