.shop__wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    @include fonts(700, 34px, $basic-black);
    font-family: "Cormorant Garamond", "Arial", sans-serif;
    line-height: 34px;
    margin-bottom: 18px;
  }
}

.shop__link {
  display: block;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 42px;
  max-width: 100px;
  position: relative;
  z-index: 80;

  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background: $link-decoration;
    bottom: 2px;
  }

  &:hover {
    color: $link-decoration;
  }

  &:active {
    opacity: 0.6;
  }
}

.shop__products-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  width: 1168px;
}

.shop__item-product {
  text-align: center;
  margin-right: 10px;

  & p {
    font-weight: 500;
    font-size: 16px;
    margin-top: 11px;
    margin-bottom: 0;
  }

  & span {
    font-weight: 700;
    font-size: 14px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    & p {
      text-decoration: underline;
    }
  }

  &:active {
    & p {
      opacity: 0.6;
    }

    & span {
      opacity: 0.6;
    }
  }
}

@media (max-width: $half-desktop-width) {
  .shop__item-product:nth-child(n+3) {
    display: none;
  }

  .shop__products-list {
    width: 686px;
  }

  .shop__item-product {
    & img {
      width: 324px;
      height: 340px;
    }
  }
}

@media (max-width: $tablet-width) {
  .shop__wrapper {
    & h2 {
      margin-bottom: 12px;
    }
  }

  .shop__link {
    &::before {
      bottom: -4px;
    }
  }
}

@media (max-width: $mobile-width) {
  .shop__wrapper {
    padding-left: 30px;
    padding-right: 30px;

    & h2 {
      margin-top: 18px;
    }
  }

  .shop__products-list {
    width: 100%;
    margin-left: 0;
    gap: 30px;
  }

  .shop__item-product {
    height: auto;
    margin-right: 0;

    & img {
      width: 100%;
      object-fit: contain;
      object-position: center bottom;
    }

    & p {
      line-height: 20px;
    }
  }
}

@media (max-width: $half-mobile-width) {
  .shop__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .shop__products-list {
    width: 300px;
    margin-left: 0;
    gap: 24px;
  }

  .shop__item-product {
    width: 100%;

    & img {
      width: 130px;
      height: 136px;
    }
  }
}
