.modal__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 442px;
  height: 584px;
  background: $background-color;
  z-index: 20;
  animation: slide-up-down 0.5s 1 cubic-bezier(0.17, 0.84, 0.44, 1);
  text-align: center;

  & h2 {
    @include fonts(700, 34px, $basic-black);
    font-family: "Cormorant Garamond", "Arial", sans-serif;
    margin-top: 44px;
  }

  & input {
    font-family: inherit;
    width: 76%;
    background: none;
    border: 1px solid transparent;
    border-bottom: 1px solid $basic-black;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 26px;
    color: $basic-black;

    &::placeholder {
      @include fonts(500, 14px, $half-black);
      font-family: "Poppins", "Arial", sans-serif;
    }

    &:focus {
      outline: none;
      padding-bottom: 7px;
      border-bottom: 2px solid $basic-black;
    }
  }

  & a {
    display: block;
    font-weight: 500;
    text-align: right;
    font-size: 12px;
    letter-spacing: 0.02em;
    margin-top: -22px;
    margin-right: 52px;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.6;
    }
  }

  & button {
    @include fonts(500, 16px, $basic-white);
    margin-top: 46px;
    width: 76.5%;
    background: $link-decoration;
    border: 0;
    padding: 21px 20px;
    font-family: inherit;
    cursor: pointer;

    &:hover {
      background: $half-black;
    }

    &:active {
      opacity: 0.6;
    }
  }

  & p {
    font-size: 14px;
    color: $half-black;
    margin-left: -55px;
    margin-top: 16px;
    position: relative;

    & a {
      position: absolute;
      display: block;
      top: 22px;
      right: 54px;
      font-size: 14px;
      color: $basic-black;
    }
  }

  .modal__close-button {
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    top: -38px;
    right: 10px;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      left: 8px;
      height: 3px;
      background: $basic-black;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      width: 24px;
      left: 8px;
      height: 3px;
      background: $basic-black;
      transform: rotate(-45deg);
    }

    &:hover {
      background: transparent;
    }

    &:hover::before {
      background: $link-decoration;
    }

    &:hover::after {
      background: $link-decoration;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.modal__nojs-logo {
  position: absolute;
  top: -54px;
  left: 196px;

  & svg {
    fill: $link-decoration;
  }

  &:hover svg {
    fill: $basic-black;
  }

  &:active svg {
    opacity: 0.6;
  }
}

.modal__nojs {
  .modal__wrapper {
    margin-top: 20px;
    animation: none;

    .modal__nojs-back {
      @include fonts(700, 24px, $basic-black);
      font-family: "Poppins", "Arial", sans-serif;
      position: absolute;
      bottom: -34px;
    }
  }
}

@media (max-width: $mobile-width) {
  .modal__wrapper {
    width: 270px;
    height: 470px;
    top: 51%;

    & img {
      width: 270px;
      height: 84px;
    }

    .modal__close-button {
      width: 16px;
      height: 16px;
      top: -36px;
      right: 0;

      &::before {
        width: 18px;
        height: 2px;
      }

      &::after {
        width: 18px;
        height: 2px;
      }
    }

    & h2 {
      font-size: 24px;
      margin-top: 31px;
    }

    & input {
      width: 87%;
      margin-bottom: 22px;
    }

    & a {
      margin-right: 14px;
      margin-top: -18px;
    }

    & button {
      margin-top: 36px;
      width: 88%;
    }

    & p a {
      top: 18px;
      right: 10px;
      letter-spacing: -0.01em;
    }
  }
}

@keyframes slide-up-down {
  0% {
    transform: translateY(-100%) translateX(-50%);
  }

  40% {
    transform: translateY(-47%) translateX(-50%);
  }

  100% {
    transform: translateY(-50%) translateX(-50%);
  }
}
