/* Colors */
$basic-white: #ffffff;
$basic-black: #000000;
$half-black: #9b9997;
$header-decoration: #f6f5f4;
$background-color: #f0eae4;
$link-decoration: #a87b62;
$background-opacity: rgba(255, 255, 255, 0.15);
$shadow: 0px 5px 32px rgba(219, 213, 208, 0.24);


/* Breakpoints */
$desktop-width: 1600px;
$half-desktop-width: 1200px;
$tablet-width: 1023px;
$mobile-width: 767px;
$half-mobile-width: 500px;
